extends base

block content
    section.story__box
        div.container
            div.rsvp__box
                h2.text__center OUR STORY
                h5.text__center__large SUBOMI & BYEONGKI
                <br>
                div.img__box
                    img(src="images/hands.jpg", width="370", height="370", alt="Subomiki_holding_hands")
                
        p.large__text As a pair of determined designers, Daniela and Moe first got to know each other working late nights in design studio during grad school— brewing that third pot of coffee, sharing tasty treats, and exchanging upbeat bops. Yet it wasn’t until a group outing where they were left alone on the dance floor, grooving to funky soul beats, when they knew they were meant to be together.
                