extends base

block content 
    section.story__box
        div.container
            div.rsvp__box
                h2.text__center CONTACT US
                h5.text__center__large WEDDING PLANNER : EVENTS O CLOCK
                <br>
                 div.img__box__contact
                    img(src="images/eventOclock.jpeg", width="300", height="200", alt="EventOclock_logo")
        div.contact__box(class="button")
            div.row
                div.col-2
                    h4 Phone
                div(class="col col-md-8")
                    h1 (678)-436-9660
            div.row
                div.col-2
                    h4 Email
                div(class="col col-md-8")
                    h4 eventsoclock@gmail.com
            button(class="button, button--flex, button--small, button--link", type="submit")
                a(target="_blank", href="https://www.instagram.com/eventsoclock/") Instagram
