extends base

block content
    section.story__box
        div.container
            div.rsvp__box
                h2.text__center Registry
                h5.text__center__large YOUR PRESENCE IS A GIFT
        p.large__text  Having loving family and friends in our lives is the best gift of all. If you wish to honor us with a wedding gift, we have compiled some ideas 
        <br>
        a(target="_blank", href="https://www.blueprintregistry.com/registry/subomiki") 
            button(class="button, button--flex, button--small, button--link") REGISTRY
                